.ret-aprenda{
    position: relative;
    height: 80px;
    width: 200px;
    text-align: center;
    background-color: #BCBCBC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
    border-radius: 0px 5px 5px 0;
    font-weight: 400;
    animation: moveDireita 2s, fadeIn 1s;
}

h1{
    color: black;
    font-family: 'Istok Web', sans-serif;
    padding-left: 40px;
    font-size: 20px;
    margin-right: 15rem;
}

h2{
    color: black;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    padding-left: 40px;
    font-size: 20px;
    margin-right: 15rem;
}



@keyframes moveDireita{
    0% {left: -100px;}
    100%{left: 0px;}
}

@media screen and (min-width: 1024px) and (max-width: 1620px){
    nav ul li a{
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: white;
        position: relative;
        right: 10rem;
        font-family: 'Istok Web', sans-serif;
    }


    .logo{
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 90px;
        left: -30px;
        justify-content: left;
        animation: moveRight 1s, fadeIn 1s;
    }
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -30px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   
}

@media screen and (min-width: 1621px) and (max-width: 1920px){
    nav ul li a{
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: white;
        position: relative;
        right: 13rem;
        font-family: 'Istok Web', sans-serif;
    }


    .logo{
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 90px;
        left: -30px;
        justify-content: left;
        animation: moveRight 1s, fadeIn 1s;
    }
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -30px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }
}