.ret-faq{
    position: relative;
    height: 80px;
    width: 350px;
    text-align: center;
    background-color: #BCBCBC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
    border-radius: 0px 5px 5px 0;
    font-weight: 400;
    bottom: 30px;
    left: 80px;
    animation: none;
}

.container{
    width: 45%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.wrapper{
    background-color: #d9d9d9;
    margin-top: 100px;
    margin-left: 23rem;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,50,0.2);
    width: 50%;
}
.toggle,
.content{
    font-family: 'Montserrat',sans-serif;
}
.toggle{    
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}
.content{
    position: relative;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}

@media (min-width:320px) and (max-width:480px){ /* Finalizado */

    .nav{
        position: relative;
        bottom: 70px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 10px;
        left: 34px;
        justify-content: left;
        z-index: 1;
        animation: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a{
    display: block;
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    font-family: 'Istok Web', sans-serif;
    color: black;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding: 1rem 0;
        cursor: pointer;
        position: relative;
        left: 25rem;
        padding-top: 3.5rem;
        font-family: sans-serif;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: white;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    nav ul li a{
        display: none;
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: 55px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }
    
    .container-faq{
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        height: 3200px 
    }

    .footer{
        padding-left: 5px;
        padding-top: 13px;
        text-align: left;
        position: relative;
        right: 7px;
        font-family: 'Montserrat', sans-serif;
        background-color: #d9d9d9;
        height: 30px;
        top: 216rem;
        width: 105%;
    }

    .wrapper{
        background-color: #d9d9d9;
        margin-top: 100px;
        margin-left: 7rem;
        padding: 15px 40px;
        border-radius: 5px;
        box-shadow: 0 15px 25px rgba(0,0,50,0.2);
        width: 50%;
    }

    .ret-faq{
        position: relative;
        top: 30px;
        left: 35px;
        animation: none;
    }
}

@media (min-width:481px) and (max-width: 640px){ /* Finalizado */
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a{
    display: block;
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    font-family: 'Istok Web', sans-serif;
    color: black;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding: 1rem 0;
        cursor: pointer;
        position: relative;
        left: 36rem;
        padding-top: 3rem;
        font-family: sans-serif;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: white;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    nav ul li a{
        display: none;
    }

    .nav{
        position: relative;
        bottom: 70px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 20px;
        left: 40px;
        justify-content: left;
        z-index: 1;
        animation: none;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: 55px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }
    
    .container-faq{
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        height: 1000px 
    }

    .footer{
        padding-left: 5px;
        padding-top: 13px;
        text-align: left;
        position: relative;
        right: 7px;
        font-family: 'Montserrat', sans-serif;
        background-color: #d9d9d9;
        height: 30px;
        top: 81rem;
        width: 105%;
    }

    .wrapper{
        background-color: #d9d9d9;
        margin-top: 100px;
        margin-left: 8rem;
        padding: 15px 40px;
        border-radius: 5px;
        box-shadow: 0 15px 25px rgba(0,0,50,0.2);
        width: 50%;
    }

    .ret-faq{
        position: relative;
        top: 30px;
        left: 35px;
        animation: none;
    }
}

@media (min-width:641px){ /* Finalizado */

    .ret-faq{
        position: relative;
        top: -30px;
        left: 50px;
        animation: none;
    }

    .btn-menu {
        display: none;
    }

    nav ul li a{
        top: 30px;
        display: flex;
        padding: 15px;
        margin-left: -20px;
        text-decoration: none;
        color: white;
        position: relative;
        right: 2rem;
        font-family: 'Istok Web', sans-serif;
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 16px;
        left: 40px;
        justify-content: left;
        z-index: 1;
        animation: none;
    }

    
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -30px;}
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: 55px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }
    
    .container-faq{
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        height: 2200px 
    }

    .footer{
        padding-left: 5px;
        padding-top: 13px;
        text-align: left;
        position: relative;
        right: 7px;
        font-family: 'Montserrat', sans-serif;
        background-color: #d9d9d9;
        height: 30px;
        top: 158rem;
        width: 105%;
    }

    .wrapper{
        background-color: #d9d9d9;
        margin-top: 100px;
        margin-left: 9rem;
        padding: 15px 40px;
        border-radius: 5px;
        box-shadow: 0 15px 25px rgba(0,0,50,0.2);
        width: 50%;
    }
}

@media (min-width:961px){ /* Finalizado */

    .ret-faq{
        position: relative;
        top: -30px;
        left: 65px;
        animation: none
    }

    .btn-menu {
        display: none;
    }

    nav ul li a{
        top: 30px;
        display: flex;
        padding: 15px;
        position: relative;
        right: 4rem;
        text-decoration: none;
        color: white;
        font-family: 'Istok Web', sans-serif;
    }

    
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -30px;}
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 15px;
        left: 55px;
        justify-content: left;
        z-index: 1;
        animation: moveRight 1s;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: 55px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }
    
    .container-faq{
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        height: 1800px 
    }

    .footer{
        padding-left: 5px;
        padding-top: 13px;
        text-align: left;
        position: relative;
        right: 7px;
        font-family: 'Montserrat', sans-serif;
        background-color: #d9d9d9;
        height: 30px;
        top: 132rem;
        width: 105%;
    }
}

@media (min-width:1025px){ /* Finalizado */

    .ret-faq{
        position: relative;
        top: -50px;
        left: 55px;
        animation: moveRight 1s;
    }

    .btn-menu {
        display: none;
    }

    nav ul li a{
        top: 30px;
        display: flex;
        padding: 15px;
        position: relative;
        right: 5rem;
        text-decoration: none;
        color: white;
        font-family: 'Istok Web', sans-serif;
    }

    
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -30px;}
    }

    .nav{
        position: relative;
        bottom: 80px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 20px;
        left: 55px;
        justify-content: left;
        z-index: 1;
        animation: moveRight 1s;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: 55px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }
    
    .container-faq{
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        height: 1600px 
    }

    .footer{
        padding-left: 5px;
        padding-top: 13px;
        text-align: left;
        position: relative;
        right: 7px;
        font-family: 'Montserrat', sans-serif;
        background-color: #d9d9d9;
        height: 30px;
        top: 119.5rem;
        width: 105%;
    }
}

@media (min-width:1281px){ /* Finalizado */

    .footer{
        padding-left: 5px;
        padding-top: 13px;
        text-align: left;
        position: relative;
        right: 7px;
        font-family: 'Montserrat', sans-serif;
        background-color: #d9d9d9;
        height: 30px;
        top: 79rem;
        width: 105%;
    }

    .ret-faq{
        position: relative;
        top: 0px;
        left: 105px;
        animation: none;
    }

    .btn-menu {
        display: none;
    }

    @keyframes moveDireita{
        0% {left: -100px;}
        100%{left: 100px;}
    }

    nav ul li a {
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: aliceblue;
        position: relative;
        right: 7rem;
        font-size: 17px;
        font-family: 'Istok Web', sans-serif;
    }

    
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -30px;}
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 20px;
        left: 100px;
        justify-content: left;
        z-index: 1;
        animation: moveRight 1s;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: 100px;}
    }

    .container{
        background-color: black;
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }
    
    .faq-section{
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        height: 1300px;
    }

    .wrapper{
        margin-top: 100px;
        margin-left: 30rem;
    }

    .footer{
        padding-left: 5px;
        padding-top: 13px;
        text-align: left;
        position: relative;
        right: 7px;
        font-family: 'Montserrat', sans-serif;
        background-color: #d9d9d9;
        height: 30px;
        top: 89rem;
        width: 105%;
    }
}