.ret-depoimentos{
    position: relative;
    height: 80px;
    width: 200px;
    text-align: center;
    background-color: #BCBCBC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
    border-radius: 0px 5px 5px 0;
    font-weight: 400;
    bottom: 30px;
    animation: moveDireita 2s, fadeIn 1s;
}

@keyframes moveDireita{
    0% {left: -100px;}
    100%{left: 0px;}
}

@media (min-width:320px) and (max-width:480px){ /* Finalizado */

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 10px;
        left: 0px;
        justify-content: left;
        z-index: 1;
        animation: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.6875rem;
        right: 0;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a{
    display: block;
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    font-family: 'Istok Web', sans-serif;
    color: black;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding: 1rem 0;
        cursor: pointer;
        position: relative;
        left: 23rem;
        padding-top: 3rem;
        font-family: sans-serif;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: white;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    nav ul li a{
        display: none;
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 200vh;
        width: 100vw;
        margin-left: -10px;
        margin-top: -15px;
    }

    .depoimento{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        height: 300px;
        width: 400px;
        background: transparent;
        backdrop-filter: blur(20px);
        border-radius: 25px;
        opacity: 70%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
        display: flex;
        margin-left: 20rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        flex: 30%;
        margin-bottom: 50px;
        position: relative;
        top: 65px;
        right: 18rem;
        text-align: center;
    }

    p{
        text-align: center;
        position:relative;
        bottom: 20px;
        font-size: 16px;
    }
}

@media (min-width:481px) and (max-width: 640px){ /* Finalizado */

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 10px;
        left: 0px;
        justify-content: left;
        z-index: 1;
        animation: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.6875rem;
        right: 0;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a{
    display: block;
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    font-family: 'Istok Web', sans-serif;
    color: black;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding: 1rem 0;
        cursor: pointer;
        position: relative;
        left: 34rem;
        padding-top: 3rem;
        font-family: sans-serif;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: white;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    nav ul li a{
        display: none;
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 250vh;
        width: 100vw;
        margin-left: -10px;
        margin-top: -15px;
    }

    .depoimento{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        height: 300px;
        width: 400px;
        background: transparent;
        backdrop-filter: blur(20px);
        border-radius: 25px;
        opacity: 70%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
        display: flex;
        margin-left: 20rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        flex: 30%;
        margin-bottom: 50px;
        position: relative;
        top: 65px;
        right: 12rem;
        text-align: center;
    }

    p{
        text-align: center;
        position:relative;
        bottom: 20px;
        font-size: 16px;
    }
}

@media (min-width:641px){ /* Finalizado */
    .btn-menu {
        display: none;
    }

    nav ul li a{
        top: 30px;
        display: flex;
        padding: 15px;
        margin-left: -20px;
        text-decoration: none;
        color: white;
        position: relative;
        right: 5rem;
        font-family: 'Istok Web', sans-serif;
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 10px;
        left: 0px;
        justify-content: left;
        z-index: 1;
        animation: none;
    }
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -30px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    .depoimento{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        height: 350px;
        width: 250px;
        background: transparent;
        backdrop-filter: blur(20px);
        border-radius: 25px;
        opacity: 70%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
        display: flex;
        margin-left: 20rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        flex: 30%;
        margin-bottom: 50px;
        position: relative;
        top: 65px;
        right: 160px;
        text-align: center;
        margin-right: -100px;
    }

    p{
        text-align: center;
        position:relative;
        bottom: 20px;
        font-size: 16px;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }

    .container-depoimentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 150px;
    }

    .container{
        height: 270vh;
    }
}

@media (min-width:961px){ /* Finalizado */ 
    .btn-menu {
        display: none;
    }

    nav ul li a{
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: white;
        position: relative;
        right: 7rem;
        font-size: 17px;
        font-family: 'Istok Web', sans-serif;
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 15px;
        left: -10px;
        justify-content: left;
        z-index: 1;
        animation: moveRight 1s;
    }
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -10px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    .depoimento{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        height: 350px;
        width: 250px;
        background: transparent;
        backdrop-filter: blur(20px);
        border-radius: 25px;
        opacity: 70%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
        display: flex;
        margin-left: 20rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        flex: 30%;
        margin-bottom: 50px;
        position: relative;
        top: 65px;
        right: 160px;
        text-align: center;
    }

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }

    .container-depoimentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 150px;
    }

    .container{
        height: 250vh;
    }
}

@media (min-width:1025px){ /* Finalizado */

    .btn-menu {
        display: none;
    }

    nav ul li a{
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: white;
        position: relative;
        right: 9rem;
        font-family: 'Istok Web', sans-serif;
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 15px;
        left: -10px;
        justify-content: left;
        z-index: 1;
        animation: moveRight 1s;
    }
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -10px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 100vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    .depoimento{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        height: 350px;
        width: 250px;
        background: transparent;
        backdrop-filter: blur(20px);
        border-radius: 25px;
        opacity: 70%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
        display: flex;
        margin-left: 20rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        flex: 30%;
        margin-bottom: 50px;
        position: relative;
        top: 65px;
        right: 160px;
        text-align: center;
    }

    p{
        text-align: center;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }

    .container-depoimentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 150px;
    }

    .container{
        height: 230vh;
    }
}

@media (min-width:1281px){ /* Finalizado */

    .btn-menu {
        display: none;
    }

    nav ul li a{
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: white;
        position: relative;
        right: 14rem;
        font-family: 'Istok Web', sans-serif;
    }

    .nav{
        position: relative;
        bottom: 85px;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 15px;
        left: -10px;
        justify-content: left;
        z-index: 1;
        animation: moveRight 1s;
    }
    
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @keyframes moveRight {
        0% {left: -80px;}
        100% {left: -10px;}
    }

    .container{
        background-image: url(../img/bg1.jpg);
        height: 120vh;
        width: 110vw;
        margin-left: -10px;
        margin-top: -15px;
    }   

    .depoimento{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        height: 360px;
        background: white;
        backdrop-filter: blur(20px);
        border-radius: 25px;
        opacity: 70%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
        display: flex;
        margin-left: 30rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        flex: 15%;
        margin-bottom: 50px;
        position: relative;
        top: -30px;
        right: 230px;
        text-align: center;
    }

    p{
        text-align: center;
        font-size: 20px;
    }

    .circle-dep{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    }

    .container-depoimentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 150px;
    }
}