.apoie {
    color: #000;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    text-align: left;
    margin-left: 50rem;
    padding-top: 50px;
    font-size: 40px;
    position: relative;
    animation: moveDown 2s;
}

@keyframes moveDown {
    0% {
        bottom: 100px;
    }

    100% {
        bottom: -0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        top: 120px;
    }

    100% {
        top: 0px;
    }

}

.button-see {
    display: inline-block;
    background-color: #6F6F6F;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50rem;
    position: relative;
    animation: moveUp 1s, fadeIn 3s;
}

.button-see:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: aliceblue;
    color: black;

}

.cigarro-img {
    position: absolute;
    height: 300px;
    animation: fadeIn 3s;
}

.desc {
    color: #000;
    font-family: sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
    font-size: 18px;
    padding-bottom: 10px;
    animation: moveUp 2s, fadeIn 3s;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }
  
  .menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
  }

@media (min-width:320px) and (max-width:480px) {

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a{
    display: block;
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    font-family: 'Istok Web', sans-serif;
    color: black;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding: 1rem 0;
        cursor: pointer;
        position: relative;
        left: 23rem;
        padding-top: 3rem;
        font-family: sans-serif;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: white;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    .cigarro-img {
        display: none;
    }

    .button-see {
        display: inline-block;
        background-color: #A4AC86;
        color: white;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 12rem;
        bottom: 0rem;
        position: relative;
        font-size: 15px;
        animation: none;
    }

    .desc {
        text-align: center;
        position: relative;
        right: 0rem;
        font-size: 14px;
        font-weight: 600;
        bottom: 0rem;
        animation: none;
    }

    .apoiemo {
        display: flex;
        position: relative;
        bottom: 0rem;
        right: 5rem;
        color: #000;
        font-family: 'Montserrat';
        font-weight: 700;
        font-style: italic;
        margin-left: 10rem;
        font-size: 50px;
        animation: none;
        text-align: center;
    }

    .apoie{
        display: none;
    }

    .logo {
        width: 100px;
        height: auto;
        display: flex;
        position: absolute;
        top: 0px;
        left: -30px;
        justify-content: left;
        animation: none;
    }

    nav ul li a {
        display: none;
    }
}

@media (min-width:481px) and (max-width: 640px) {

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.6875rem;
        right: 0;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a{
    display: block;
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    font-family: 'Istok Web', sans-serif;
    color: black;
    }

    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding: 1rem 0;
        cursor: pointer;
        position: relative;
        left: 34rem;
        padding-top: 3rem;
        font-family: sans-serif;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: white;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .nav.active .menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .nav.active .hamburger {
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    nav ul li a{
        display: none;
    }



    .cigarro-img {
        display: none;
    }

    .button-see {
        display: inline-block;
        background-color: #A4AC86;
        color: white;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 13rem;
        bottom: 0rem;
        position: relative;
        font-size: 15px;
        animation: none;
    }

    .desc {
        text-align: center;
        position: relative;
        right: 2rem;
        font-size: 14px;
        font-weight: 600;
        bottom: 0rem;
        animation: none;
    }

    .apoiemo {
        display: flex;
        position: relative;
        bottom: 0rem;
        right: 7rem;
        color: #000;
        font-family: 'Montserrat';
        font-weight: 700;
        font-style: italic;
        margin-left: 10rem;
        font-size: 50px;
        animation: none;
        text-align: center;
    }

    .apoie{
        display: none;
    }
    
    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 88px;
        left: -30px;
        justify-content: left;
        animation: moveRight 1s, fadeIn 1s;
    }
}

@media (min-width:641px) {

    .btn-menu {
        display: none;
    }

    .apoiemo {
        display: none;
    }

    .cigarro-img {
        position: absolute;
        top: 37rem;
        left: 15rem;
        height: 300px;
        animation: fadeIn 3s;
    }

    .button-see {
        display: inline-block;
        background-color: #A4AC86;
        color: white;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 5rem;
        top: 0rem;
        position: relative;
        font-size: 15px;
        animation: none;
    }

    .desc {
        text-align: left;
        position: relative;
        left: 5rem;
        top: 0rem;
        animation: none;
    }

    .apoie {
        display: flex;
        position: relative;
        top: 0rem;
        right: 45rem;
        color: #000;
        font-family: 'Montserrat';
        font-weight: 700;
        font-style: italic;
        text-align: left;
        padding-top: 50px;
        font-size: 60px;
        animation: none;
    }

    nav ul li a {
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: aliceblue;
        position: relative;
        left: 19rem;
        font-family: 'Istok Web', sans-serif;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 88px;
        left: -30px;
        justify-content: left;
        animation: moveRight 1s, fadeIn 1s;
    }
}

@media (min-width:961px) {

    .btn-menu {
        display: none;
    }

    .apoiemo {
        display: none;
    }

    .desc {
        text-align: left;
        position: relative;
        left: 25rem;
        bottom: 3rem;
        animation: none;
        font-size: 15px;
    }

    .cigarro-img {
        display: flex;
        position: absolute;
        top: 15rem;
        left: 0rem;
        height: 300px;
        animation: fadeIn 3s;
    }

    .apoie {
        position: relative;
        right: 20rem;
        color: #000;
        font-family: 'Montserrat';
        font-weight: 700;
        font-style: italic;
        text-align: left;
        margin-left: 45rem;
        padding-top: 50px;
        font-size: 60px;
        position: relative;
        animation: moveDown 2s;
    }

    .button-see {
        display: inline-block;
        background-color: #A4AC86;
        color: white;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 25rem;
        bottom: 3rem;
        position: relative;
        font-size: 15px;
        animation: none;
    }

    nav ul li a {
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: aliceblue;
        position: relative;
        left: 23rem;
        font-family: 'Istok Web', sans-serif;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 88px;
        left: -30px;
        justify-content: left;
        animation: moveRight 1s, fadeIn 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes moveRight {
        0% {
            left: -80px;
        }

        100% {
            left: -30px;
        }
    }
}

@media (min-width:1025px) {

    .btn-menu {
        display: none;
    }

    .apoiemo {
        display: none;
    }

    .desc {
        text-align: left;
        position: relative;
        left: 25rem;
        bottom: 3rem;
        animation: none;
        font-size: 18px;
    }


    .cigarro-img {
        display: flex;
        position: absolute;
        top: 15rem;
        left: 0rem;
        height: 300px;
        animation: fadeIn 3s;
    }

    .apoie {
        position: relative;
        right: 20rem;
        color: #000;
        font-family: 'Montserrat';
        font-weight: 700;
        font-style: italic;
        text-align: left;
        margin-left: 45rem;
        padding-top: 50px;
        font-size: 60px;
        position: relative;
        animation: moveDown 2s;
    }

    .button-see {
        display: inline-block;
        background-color: #A4AC86;
        color: white;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 25rem;
        bottom: 3rem;
        position: relative;
        font-size: 15px;
        animation: none;
    }

    nav ul li a {
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: aliceblue;
        position: relative;
        left: 28rem;
        font-family: 'Istok Web', sans-serif;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 88px;
        left: -30px;
        justify-content: left;
        animation: moveRight 1s, fadeIn 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes moveRight {
        0% {
            left: -80px;
        }

        100% {
            left: -30px;
        }
    }
}

@media (min-width:1281px) {

    .btn-menu {
        display: none;
    }

    .apoiemo {
        display: none;
    }

    .desc {
        text-align: left;
        position: relative;
        left: 65rem;
        bottom: 2rem;
        animation: none;
    }


    .cigarro-img {
        display: flex;
        position: absolute;
        top: 15rem;
        height: 500px;
        animation: fadeIn 3s;
    }

    .apoie {
        position: relative;
        left: 20rem;
        color: #000;
        font-family: 'Montserrat';
        font-weight: 700;
        font-style: italic;
        text-align: left;
        margin-left: 45rem;
        padding-top: 50px;
        font-size: 60px;
        position: relative;
        animation: moveDown 2s;
    }

    .button-see {
        display: inline-block;
        background-color: #A4AC86;
        color: white;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 65rem;
        bottom: 3rem;
        position: relative;
        font-size: 15px;
        animation: none;
    }

    nav ul li a {
        top: 30px;
        display: flex;
        height: 0px;
        padding: 15px;
        text-decoration: none;
        color: aliceblue;
        position: relative;
        left: 78rem;
        font-family: 'Istok Web', sans-serif;
    }

    .logo {
        width: 130px;
        height: auto;
        display: flex;
        position: relative;
        top: 88px;
        left: -30px;
        justify-content: left;
        animation: moveRight 1s, fadeIn 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes moveRight {
        0% {
            left: -80px;
        }

        100% {
            left: -30px;
        }
    }
}